<!DOCTYPE html>
<html>
    <head>
         <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet"> 
        <title>Myles is a dick</title>
       <link rel="stylesheet" href="style.css">
       
    </head>
     <body>
       <div class = hi>
       <h1>Myles is a dickhead</h1>
       </div>
     </body>
</html>
