<!DOCTYPE html>
<html>
    <head>
         <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet"> 
        <title>Charlize Meme</title>
       <link rel="stylesheet" href="style.css">
       
    </head>
     <body>
       <div class = hi>
       <img src = "images/meme.jpg">
       </div>
     </body>
</html>
