<!DOCTYPE html>
<html>
    <head>
        <title>Summer Project</title>
    </head>
     <body>
        <div class = title>
        <h1>AP World History Summer Assignment</h1>
        </div>
        <h4>Made by: Jack Zimmerman, Izzy Kern, Jake Gallin, Ariana Gregory, and Aaron Cohen</h4>
    </body>
</html>
