<!DOCTYPE html>
<html>
    <head>
         <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet"> 
        <title>Summer Project</title>
       <link rel="stylesheet" href="style.css">
       
    </head>
     <body>
       <img src = "meme.JPG" width = 60%>
     </body>
</html>
